{% extends "donate/base.html" %}

{% block body %}

{% load static %}

<div class="container">

    <!-- Google Maps API for Initializing Map -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap">
    </script>

    <div class=col-md-6>
        <br>
        <h3>PICK-UP</h3>
        <h1 class="mb-4">Help a Neighbor Out</h1>
    </div>

    <!--Google Map -->
    <div id="map"></div>
    <br>
    <div class="row">
        <!-- Bags table for clicked user -->
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr id="bag_user_info_row" hidden="true">
                        <th scope="col">User | <span id="target_user"></span></th>
                        <th scope="col"></th>
                        <th scope="col">Total Bags | <span id="total_bags"></span></th>
                    </tr>

                    <!-- Make hidden then JS unhide on proper marker click -->
                    <!-- Preserve previous bag list on unhide. Re-hide on new bag click? -->
                    <tr id="donation_spot_info_row" hidden="true">
                        <th scope="col">Store: <span id="target_store"></span></th>
                        <th scope="col"></th>
                        <th scope="col">Hours: <span id="store_hours"></span></th>
                    </tr>

                    <tr>
                        <th scope="col">weight</th>
                        <th scope="col">category</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="bag_table">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    // Initialize and add Google Map
    function initMap() {

        // Parse user and coordinate information passed in from views.py
        var coords = JSON.parse('{{ NearbyCoordsJSON|safe }}');

        // Properly store user location coordinates
        var my_lat = parseFloat("{{ MyAddress.lat }}");
        var my_lng = parseFloat("{{ MyAddress.lng }}");

        // Save location as my_coords dict
        var my_coords = {
            lat: my_lat,
            lng: my_lng
        };

        // The map, centered at my my_coords
        var map = new google.maps.Map(
            document.getElementById('map'), {
                zoom: 15,
                center: my_coords
            });


        // Iterate through all existing user coordinates
        for (var i = 0; i < coords.length; i++) {

            // Store coordinate lat and lng
            var newcoord = {
                lat: coords[i]['lat'],
                lng: coords[i]['lng']
            };

            // Temporary storage for infowindow
            // Intended for close function on new marker click
            var prev_infowindow = false;

            // Donation Store type detect
            if (coords[i]['candidate'] == "True") {

                const h5 = document.createElement('h5');
                const ul = document.createElement('ul');
                const li = document.createElement('li');

                // Donation Spot header object
                h5.innerHTML = coords[i]['place_name'];

                // Add header to hours list
                ul.innerHTML += h5.outerHTML;

                // Offset webkit -40px default
                ul.setAttribute("style", "margin-left: -40px;");

                // Iterate open days hours list
                for (var j = 0; j < coords[i]['hours'].length; j++) {

                    // Add day's hours to list element
                    li.innerHTML = coords[i]['hours'][j];

                    // Append list item to hours list
                    ul.innerHTML += li.outerHTML;
                }

                // Append curated info for infowindow
                var contentString = ul.outerHTML;

                // Create info window
                var infowindow = new google.maps.InfoWindow({

                    // Append info window string
                    content: contentString
                });

                // CONSIDER DESGIN: abstract marker creation and use conditionals
                // to determine marker attributes

                // Create Donation Spot marker
                var markers = new google.maps.Marker({
                    position: newcoord,
                    map: map,
                    infowindow: infowindow,
                    title: "*** Donation Store marker",
                    icon: "{% static 'donate/media/salvation_army_icon.png' %}",
                    userid: coords[i]['userid'],
                    place_id: coords[i]['place_id'],
                });
            }

            // Current user type detect
            else if (coords[i]['candidate'] == "MeUser") {

                // Create Current User Marker
                var markers = new google.maps.Marker({
                    position: newcoord,
                    map: map,
                    title: "*** MeUser Marker ***",
                    icon: "{% static 'donate/media/home_icon.png' %}",
                    userid: coords[i]['userid'],
                });
            }

            // User type detect
            else {

                // Create User marker
                var markers = new google.maps.Marker({
                    position: newcoord,
                    map: map,
                    title: "*** User marker ***",
                    icon: "{% static 'donate/media/user_icon_blue.png' %}",
                    userid: coords[i]['userid'],
                });
            }

            // Add on-click event listener for newly created marker
            google.maps.event.addListener(markers, 'click', function(event) {

                // Close previous window if exists
                if (prev_infowindow) {
                    prev_infowindow.close();
                }

                // Store infowindow to temp variable 
                if (this['infowindow']) {
                    prev_infowindow = this['infowindow'];
                }

                // Pan to clicked marker position
                map.panTo(this.getPosition());

                // Clear previous user bag list
                document.querySelector('#bag_table').innerHTML = "";

                // Trigger Donation Spot Marker AJAX request
                if (this['place_id'] && this['infowindow']) {

                    // Opens info window object
                    this['infowindow'].open(map, this);

                    $.ajax({
                        url: "{% url 'ajax_donationspot' %}",

                        // Info to pass into view
                        data: {
                            'place_id': this["place_id"],
                        },
                        dataType: 'json',

                        // Returns data with message from views.py
                        success: function(data) {
                            if (data) {

                                // Hide Donation User info row
                                document.querySelector('#bag_user_info_row').hidden = true;

                                // Unhide Donation Spot info row
                                document.querySelector('#donation_spot_info_row').hidden = false;

                                // Apply marker's user
                                document.querySelector('#target_store').innerHTML = data.name;

                                // Apply user's total bag count
                                document.querySelector('#store_hours').innerHTML = data.hours;
                            }
                        }
                    });
                    // End AJAX
                }

                // Trigger User Marker AJAX request
                else {

                    // Hide Donation Spot info row
                    document.querySelector('#donation_spot_info_row').hidden = true;

                    // Unhide Donation Spot info row
                    document.querySelector('#bag_user_info_row').hidden = false;

                    // Ajax request to return user and bag info of clicked location
                    $.ajax({

                        url: "{% url 'ajax_bag_load' %}",

                        // Info to pass into views.py
                        data: {
                            'userid': this["userid"],
                            'lat': this["position"]["lat"],
                            'lng': this["position"]["lng"],
                        },

                        dataType: 'json',

                        success: function(data) {

                            // Receives data from views containing cliicked user's bags
                            if (data) {

                                // Curate list of bag objects
                                var bagslist = JSON.parse(data.Bags);

                                // User of bags returned
                                var bag_user = bagslist[0]['fields']['user'];

                                // Table to be populated with User's bag info
                                var bag_table = document.getElementById('bag_table');

                                // Apply marker's user
                                document.querySelector('#target_user').innerHTML = bag_user;

                                // Apply user's total bag count
                                document.querySelector('#total_bags').innerHTML = bagslist.length;

                                // Add bag as table data
                                for (var j = 0; j < bagslist.length; j++) {

                                    const tr = document.createElement('tr');
                                    const td_weight = document.createElement('td');

                                    // Adds bag weight to row
                                    td_weight.innerHTML = `${bagslist[j]['fields']['lbs']} lbs.`;
                                    tr.append(td_weight);

                                    // Check if categories present, add none if not
                                    if (bagslist[j]['fields']['category'].length == 0) {
                                        var categ = "(none)";
                                        var td_category = document.createElement('td');
                                        td_category.append(categ);
                                    } 
                                    else {
                                        // Iterate bag categories
                                        for (var k = 0; k < bagslist[j]['fields']['category'].length; k++) {

                                            // Create button element
                                            const btn = document.createElement('button');

                                            // Button attributes and styles
                                            btn.setAttribute("type", "button");
                                            btn.classList.add("btn");
                                            btn.classList.add("btn-outline-secondary");
                                            btn.classList.add("btn-xs");

                                            // Add category as button name
                                            btn.innerHTML = bagslist[j]['fields']['category'];

                                            // Adds bag category as table data
                                            var td_category = document.createElement('td');
                                            td_category.append(btn);
                                        }

                                    }

                                    // Add table data to table row
                                    tr.append(td_category);

                                    // Create button element
                                    var btn = document.createElement('button');

                                    // Button attributes and styles
                                    btn.setAttribute("name", "pickup_bag");
                                    btn.setAttribute("type", "button");
                                    btn.classList.add("btn");
                                    btn.classList.add("btn-outline-info");
                                    btn.classList.add("btn-sm");
                                    btn.classList.add("btn-request");
                                    btn.innerHTML = "request";
                                    btn.id = "requestbag-btn";
                                    btn.dataset.bagid = bagslist[j]['pk']; // BagID
                                    btn.dataset.baguser = bagslist[j]['fields']['user']; // BagUser

                                    // Add request button to table data
                                    var td_btn = document.createElement('td');
                                    td_btn.append(btn);

                                    // Add table data to row
                                    tr.append(td_btn);

                                    // Add row to bag table
                                    document.querySelector('#bag_table').append(tr);
                                }
                            }
                        }
                    });
                    // End Donation AJAX
                }
            });
            // End GOOGLE MAPS CLICK marker listener
        }

        // Request button click event
        document.addEventListener('click', function(e) {

            // Target request button
            if (e.target.className === "btn btn-outline-info btn-sm btn-request") {

                $.ajax({
                    url: "{% url 'ajax_bag_request' %}",

                    // Info to pass into view
                    data: {
                        'bagid': e.target.dataset.bagid,
                        'user': e.target.dataset.baguser,
                    },
                    dataType: 'json',

                    // Returns data with message from views.py
                    success: function(data) {
                        if (data) {

                            // Show message
                            alert(data.message);
                        }

                        // Stylize request button on success to be greyed out
                        if (data.success) {
                            e.target.innerHTML = "requested";
                            e.target.className = "btn btn-secondary btn-sm btn-request";
                        }
                    }
                });
                // End AJAX
            };
        });
    }
</script>

{% endblock %}
