{% extends "donate/base.html" %}


{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br>
            <br>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapse-show	" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Location
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingone" data-parent="#accordion">
                        <div class="card-body">

                            <!-- LOCATION CHANGE FORM -->
                            <form action="{% url 'testform' %}" method="post">
                                {% csrf_token %}

                                <!-- Pass current url to form view -->
                                <input name="thisurl" value="{{ request.path_info }}" type="hidden">

                                <input name="thisview" value="{{ request.resolver_match.view_name }}" type="hidden">

                                <div class="row">
                                    <h4>{{ MyLocation }}</h4>
                                    <div class="col-md-8">
                                        {{ form.autocomplete.errors }}
                                        <label for="{{ form.autofill.id_for_autocomplete }}">Search...</label>
                                        {{ form.autocomplete }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                    {{ form.street_number.errors }}
                                    <label for="{{ form.street_number.id_for_label }}">Street #</label>
                                    {{ form.street_number }}
                                    </div>
                                    <div class="col-md-5">
                                    {{ form.route.errors }}
                                    <label for="{{ form.route.id_for_label }}">Street Name</label>
                                    {{ form.route }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-5">
                                    {{ form.locality.errors }}
                                    <label for="{{ form.locality.id_for_label }}">locality</label>
                                    {{ form.locality }}
                                    </div>
                                    <div class="col-md-3">
                                    {{ form.administrative_area_level_1.errors }}
                                    <label for="{{ form.administrative_area_level_1.id_for_label }}">city/town</label>
                                    {{ form.administrative_area_level_1 }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                    {{ form.country.errors }}
                                    <label for="{{ form.country.id_for_label }}">country</label>
                                    {{ form.country }}
                                    </div>
                                    <div class="col-md-4">
                                    {{ form.postal_code.errors }}
                                    <label for="{{ form.postal_code.id_for_label }}">zip code</label>
                                    {{ form.postal_code }}
                                    </div>
                                </div>

                                <br>
                                <input type="submit" value="Submit">
                            </form>
                            <!-- END LOCATION CHANGE FORM -->


                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Notifications
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingtwo" data-parent="#accordion">
                        <div class="card-body">

                            <!-- ACTION ITEMS TABLE -->
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>YOUR MOVE</h3>
                                    <p></p>

                                    <table class="table table-sm">
                                        <thead>
                                            <tr>
                                                <th scope="col">owner</th>
                                                <th scope="col">bag #</th>
                                                <th scope="col">lbs.</th>
                                                <th scope="col">category</th>
                                                <th scope="col">status</th>
                                                <th scope="col">requested by</th>
<!--                                                 <th scope="col">owner</th> -->
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Search all logged user requests -->
                                            {% for req in MyRequestsFrom %}
                                            <!-- Query bag associated with request -->
                                            {% with bag=req.bag_req %}
                                            <!-- Filter for unapproved (pending) requests -->
                                            {% if req.approved == False %}

                                            <tr>
                                                <th scope="row">{{ req.owner }}</th>
                                                <td>{{ bag.id }}</td>
                                                <td>{{ bag.lbs }}</td>
                                                <td>
                                                    {% for category in bag.category.all %}
                                                    <span class="pr-2"><button type="button" class="btn btn-outline-secondary btn-xs">{{ category }}</button><span>
                                                            {% endfor %}
                                                </td>
                                                <td>
                                                    <span style="font-size: 13px;">awaiting your action</span>
                                                    <button type="button" class="btn btn-outline-success btn-sm modclick" name="approve" data-req_id="{{ req.id }}">&#10003;</button>
                                                    <button type="button" class="btn btn-outline-danger btn-sm modclick" name="deny" data-req_id="{{ req.id }}">&#10007;</button>
                                                </td>
                                                <td>
                                                    <span>{{ req.requestor }}</span>
                                                </td>
<!--                                                 <td>
                                                    <span>{{ req.owner }} ({{ req.owner.email }})</span>
                                                </td> -->
                                            </tr>

                                            {% endif %}
                                            {% endwith %}
                                            {% endfor %}


                                            <!-- Search all logged user requests -->
                                            {% for req in MyRequestsTo %}
                                            <!-- Query bag associated with request -->
                                            {% with bag=req.bag_req %}
                                            <!-- Display unapproved (pending) requests -->
                                            {% if req.approved == True %}
                                            <tr>
                                                <th scope="row">{{ req.owner }}</th>
                                                <td>{{ bag.id }}</td>
                                                <td>{{ bag.lbs }}</td>
                                                <td>
                                                    {% for category in bag.category.all %}
                                                    <span class="pr-2"><button type="button" class="btn btn-outline-secondary btn-xs">{{ category }}</button><span>
                                                            {% endfor %}
                                                </td>
                                                <td>
                                                    <span style="font-size: 13px;">needs your delivery</span>
                                                    <button type="button" class="btn btn-outline-success btn-sm modclick" name="complete" data-req_id="{{ req.id }}">All Done</button>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endwith %}
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- End row -->


                        </div>
                    </div>

                </div>



                <!-- PENDING TABLE START -->
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                History/Pending
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse show" aria-labelledby="headingtwo" data-parent="#accordion">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12">
                                    <h3>WAITING</h3>
                                    <p></p>
                                    <table class="table table-sm">
                                        <thead>
                                        <tbody>
                                            <tr>
                                                <th scope="col">owner</th>
                                                <th scope="col">bag #</th>
                                                <th scope="col">lbs.</th>
                                                <th scope="col">category</th>
                                                <th scope="col">status</th>
                                                <th scope="col">driver</th>
                                                <th scope="col"></th>
                                            </tr>
                                            <!-- Search all logged user requests -->
                                            {% for req in MyRequestsTo %}
                                            <!-- Query bag associated with request -->
                                            {% with bag=req.bag_req %}
                                            <!-- Filter for unapproved (pending) requests -->
                                            {% if req.approved == False %}

                                            <tr>
                                                <th scope="row">{{ req.owner }}</th>
                                                <td>{{ bag.id }}</td>
                                                <td>{{ bag.lbs }}</td>
                                                <td>
                                                    {% for category in bag.category.all %}
                                                    <span class="pr-2"><button type="button" class="btn btn-outline-secondary btn-xs">{{ category }}</button><span>
                                                            {% endfor %}
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-outline-warning btn-sm modclick" name="cancel" data-req_id="{{ req.id }}">pending approval</button>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>

                                            {% endif %}
                                            {% endwith %}
                                            {% endfor %}


                                            <!-- Search all logged user requests -->
                                            {% for req in MyRequestsFrom %}
                                            <!-- Query bag associated with request -->
                                            {% with bag=req.bag_req %}
                                            <!-- Filter for unapproved (pending) requests -->
                                            {% if req.approved == True %}

                                            <tr>
                                                <th scope="row">{{ req.owner }}</th>
                                                <td>{{ bag.id }}</td>
                                                <td>{{ bag.lbs }}</td>
                                                <td>
                                                    {% for category in bag.category.all %}
                                                    <span class="pr-2"><button type="button" class="btn btn-outline-secondary btn-xs">{{ category }}</button><span>
                                                            {% endfor %}
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-outline-info btn-sm modclick" name="cancel" data-req_id="{{ req.id }}">pending pickup</button>
                                                </td>
                                                <td>
                                                    <span>{{ req.requestor }} ({{ req.requestor.email }})</span>
                                                </td>
                                            </tr>

                                            {% endif %}
                                            {% endwith %}
                                            {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- End row -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Google maps API -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&libraries=places&callback=initAutocomplete" async defer>
</script>

<script>
    var placeSearch, autocomplete;

    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('autocomplete'), {
                types: ['geocode']
            });

        autocomplete.setFields(['address_component']);

        autocomplete.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
            document.getElementById(component).value = '';

            // Add value to html tag here

            // Disable inputs on fill to prevent data tamper
            document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details,
        // and then fill-in the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                document.getElementById(addressType).value = val;
            }
        }
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                autocomplete.setBounds(circle.getBounds());
            });
        }
    }
</script>

<script>

    var classlist = document.getElementsByClassName('modclick');

    for (var i = 0; i < classlist.length; i++) {
        classlist[i].addEventListener('click', function(e) {

        // AJAX request only if request mod buttons pressed
        if (e.target.name === ('approve') || ('deny') || ('cancel') || ('complete')) {

            // AJAX call to handle request modification
            $.ajax({
                url: "{% url 'ajax_mod_request' %}",

                // Info to pass into view
                data: {
                    'current_page': "settings",
                    'mod_type': e.target.name,
                    'req_id': e.target.dataset.req_id,
                },
                dataType: 'json',
                success: function(data) {
                    if (data) {

                        // Message for succesful action
                        alert(data.message);

                        // Page redirect for refresh
                        window.location.href = data.url;
                    }
                }
            });
        } else {
            // pass
        }
        // End AJAX

        });
    }

</script>



{% endblock %}
